body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
p {
  color: dimGray;
  text-align: justify;
}
.orange-highlight {
  color: rgb(255, 0, 157);
}
.padding_two_for_all {
  padding-top: 2%;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img {
  width: 70%;
}
.topborder {
  border-left: 5px solid #f89898fb;
  font-size: 200%;
  line-height: 70%;
  color: black;
  padding-left: 25px;
}
#focus {
  border-left: 4px solid;
  border-image: linear-gradient(180deg, lightSalmon, tomato);
  border-image-slice: 1;
}
.one-third {
  width: 25%;
  float: left;
  margin-left: 5%;
  padding-left: 10px;
  padding-right: 20px;
}
.one-third img {
  width: 100%;
}
#mission_bg {
  background-color: #9deaecf6;
  border-radius: 15px;
}
#vission_bg {
  background-color: #b4f0c16e;
  border-radius: 15px;
}
#goal_bg {
  background-color: #815c5c6e;
  border-radius: 15px;
}
.app-section {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.app-section img {
  width: 50%;
}
section {
  height: 500px;
  padding-bottom: 150px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, rgb(255, 122, 122), tomato);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.single-experience {
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
  height: 80%;
  background-color: white;
}
.mission_img {
  height: 150px;
  width: 150px;
}
footer {
  background-color: black;
  padding: 2%;
}
footer p {
  text-align: center;
  font-size: 12px;
}
footer h3 {
  text-align: center;
  color: whitesmoke;
}
.text-middle {
  text-align: center;
  margin-top: 200px;
}
.one-third {
  width: 25%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.one-third img {
  width: 100%;
}
